:root {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;

    --app-monospace-font: ui-monospace, monospace;
}

:root,
body {
    padding: 0px;
    margin: 0px;
}



.app-cl-primary {
    --app-color: blue;
}

.app-cl-warn {
    --app-color: red;
}

.app-cl-column-container {
    display: flex;
    flex-direction: column;

    row-gap: 4px;
    padding: 10px 0;
}

.app-sections-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button[type='button'] {
    margin-left: 10px;

    cursor: pointer;
}

.app-cmp-number label b::after {
    content: '::';
    color: blue;
    margin-left: 5px;
}

input[type='number'],
.app-cl-number {
    font-family: var(--app-monospace-font);
    text-align: right;

}

.app-cl-btn {
    display: inline-flex;
    flex-direction: row;

    align-items: center;

    padding: 0.5em 1ch;

    font-weight: bold;

    color: var(--app-color, inherit);

    &>* {
        pointer-events: none;
    }

    &.app-cl-icon {
        padding: 0px;
    }

    &:disabled {
        opacity: 0.25;
    }
}

.app-cmp-number {
    display: flex;
    flex-direction: row;

    align-items: stretch;

    margin-top: 0px;
    gap: 10px;

    &>label {
        flex: 1 0 auto;

        display: inline-flex;
        flex-direction: row;

        align-items: baseline;



        &>b {
            display: inherit;
            flex-direction: inherit;
            align-items: inherit;

            margin-right: 1ch;

            width: 12ch;
            flex-shrink: 0;

            &>.app-title-number {
                margin-left: auto;

                font-family: var(--app-monospace-font);
            }


        }

        &> :is(input, output) {
            flex: 1 0 auto;

            box-sizing: border-box;
            height: 100%;
        }

        &>output {
            font-weight: bold;
            text-decoration: underline double;
            color: red;
        }
    }
}

.app-cmp-section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    width: min(600px, 100%);

    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;

    &>header {
        margin-bottom: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 8px;
        border-bottom: 1px solid #ccc;

        h2 {
            flex: 1;
            text-align: center;
            margin: 0;
            font-size: 1.2em;
        }

        button:first-child {
            margin-left: 0;
            order: 1;
        }

        button:last-child {
            order: 3;
            margin-left: auto;
        }

        h2 {
            order: 2;
        }
    }

    .app-cmp-number-list {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
    }
}